* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    width: 100%; 
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
    margin-top: 10px;
}

.card-carousel-car {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens dentro do carrossel */
    gap: 25px; /* Espaçamento entre os cards */
    margin: 0 auto; /* Centraliza o carrossel na página */
}

.card-car {
    background-color: #f1efef;
    width: 100%;
    max-width:400px; /* Define a largura máxima do card */
    box-shadow: 0 4px 8px rgba(158, 147, 147, 0.1);
    border: 1px solid rgb(172, 172, 172);
    margin-bottom: 15px;
}
.card-car img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    max-width: 100%; /* Remove qualquer limite de largura fixa */
    height: auto; /* Mantém a proporção original da imagem */
   
}
.sub-container{
    padding: 20px;
}
.card-car p {
    font-size: 1rem;
    margin: 2px 0; /* Reduz a margem entre os parágrafos */
    color: #555;
    line-height: 1.1; /* Diminui a altura da linha para aproximar o texto */
}


.button-comprar {
    padding: 10px 30px;
    height:40px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.card-car button:hover {
    background-color: #0056b3;
}
