.container-background {
    position: relative;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.container-background.loaded {
    opacity: 1;
}

.img-background {
    width: 100%;
    height: auto;
    transition: opacity 0.8s ease-in-out;
}

.titulo-background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 5rem;
    font-weight: 200;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.titulo-background.visible {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .titulo-background {
        font-size: 35px;
    }
}
