/* Container principal dos formulários */
.container-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    max-width: 1400px;
    
}

/* Estilos básicos do formulário */
.formulario {
    max-width: 1000px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.frase-orientacao{
    text-align: left;
    font-size: 18px;
}
/* Ajustes para os inputs e textarea */
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="date"],
.formulario textarea {
    width: 100%;
    background-color:#D9D9D9;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
  
}
#text-anexar{
    margin-bottom: 15px;
}

.formulario div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

/* Estilos para os botões */
.buttons {
    display: flex;
    justify-content: space-between; /* Garante que os botões fiquem um de cada lado */
    width: 100%; /* Ocupa toda a largura disponível */
    margin-top: 10px; /* Ajuste de espaço entre os campos e os botões */
}

.buttons button {
    background-color: #D9D9D9; /* Cor do fundo dos botões */
    width: 18%; /* Ajusta os botões para que ocupem quase metade da largura cada */
    color: #474545;
    font-family: "Inria Serif";
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 10px;
    transition: background-color 0.3s ease; /* Transição suave */
}

.buttons button:hover {
    background-color: #88888a; /* Cor do hover */
    color: white;
}

/* Ajustes para dispositivos com tela até 768px */
@media screen and (max-width: 768px) {
    #text-anexar {
        margin: 10px 0;
        text-align: left;
    }
    #text-anexar label {
        font-size: 18px;
    }
    #text-anexar input[type="file"] {
        font-size: 14px;
    }
    .descricao h1,
    .descricao p {
        font-size: 18px;
        margin: 0 15px;
    }

    /* Para os campos do formulário, se necessário */
    .formulario div {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Garante o alinhamento entre os itens */
        width: 100%; /* Ocupa toda a largura disponível */
    }

    /* Ajuste nos botões para dispositivos móveis */
    .buttons {
        display: flex;
        justify-content: space-between;
        width: 100%; /* Ocupa toda a largura disponível */
        gap: 10px;
    }

    .buttons button {
        width: 48%; /* Ajusta a largura dos botões */
        font-size: 16px;
        padding: 10px;
        margin: 0;
    }
}
