.container-area {
  background-color: #ECE5CB;
  position: relative;
  z-index: 1;
  height: 80%;
  padding-top: 160px;
  padding-bottom: 60px;
  border-top: 3px solid #D66520;

}

#container-area{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.title-missao{
    font-size: 46px;
    font-weight: 200;
    text-align: left;
    margin-top: 30px;
    margin-left: 60px;

}
.texto-missao p{
    text-align: left;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 60px;
}

.img-fluid3 {
    width: 600px;
    height: auto;
}

/*Para telas de max-width 650px  */
@media screen and (max-width: 1150px) {
    #container-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    
    .title-missao {
        text-align: left;
        font-size: 28px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .texto-missao p{
        font-size: 14px;
        text-align: ju;
        margin-left: 8px; 
        margin-right: 8px;
    }
    
    .img-fluid3 {
        width: calc(100%);
        max-width: 590px; 
        height: auto; 
        margin: 20px 0; 
    }
}


@media screen and (max-width: 400px) {
    #container-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-missao {
        text-align: left;
        font-size: 38px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .texto-missao p{
        font-size: 14px;
        text-align: left; 
        margin-left: 8px; 
        margin-right: 8px;
    }
    
    .img-fluid3 {
        width: calc(100%); 
        max-width: 390px;
        height: auto; 
        margin: 20px 0; 
       
    }
}
