 .valores-section {
  background-color: rgb(239, 240, 241);
 
}

.valores-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;

  position: relative;
  z-index: 3;   
  margin-bottom: -90px;
  
}


.valor-card {
  flex: 1;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 35px 20px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.valor-card img {
  width: 70px;
  height: auto;
  margin-bottom: 15px;
}

.valor-card p {
  text-align: center;
  color: #555;
  margin: 0;
  font-weight: 200;
  font-size: 1.4rem;
}
.valor-card p:hover{
  color: #D86F2E;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .valores-container {
    flex-direction: column;
  }

  
  .valor-card{
    width: auto;
    height: auto;
    margin: 15px;

  }

}
