/* ================================
   RESET BÁSICO
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================
   CONFIGURAÇÃO GLOBAL
================================ */
body {
  font-family: "Quicksand", sans-serif;
}

/* Título principal */
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200; 
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin: 0 0 40px 0;
}

/* Subtítulo ou segundo nível */
h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

h5{
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
/* TEXTO */
p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400; /* mais fino para leitura */
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
  color: #444;
  margin-bottom: 1rem;
}

/* Links */
a{
  font-family: "Quicksand", sans-serif;
  font-weight: 400; /* mais fino para leitura */
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  color: #444;
  margin-bottom: 1rem;
}

/*AJUSTES RESPONSIVOS*/
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.95rem;
  }
}
